page-add-patient {
    .important{
        color: red;
    }
    ion-item{
        margin-left: -10px;
    }
    ion-item-divider{
        background-color: transparent !important;
        text-align: center !important;
        margin-top: 20px !important;
        font-style: italic;
        color: lightgray;
    }
}
