<!--
  Generated template for the AddPatientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="secondary">Cancel</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <form class="dataBasic" (ngSubmit)="submit()">
      <ion-item>
        <ion-label floating>* Nombre (s)</ion-label>
        <ion-input #nombre="ngModel" [(ngModel)]="patient.nombre" name='nombre' type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>* Apellido paterno</ion-label>
        <ion-input [(ngModel)]="patient.paterno" name='paterno' type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>* Apellido materno</ion-label>
        <ion-input [(ngModel)]="patient.materno" name='materno' type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label style="font-size: 0.7em">* Fecha de nacimiento</ion-label>
        <ion-select [(ngModel)]="year" name='year' placeholder="Año" required>
          <ion-option *ngFor='let year of _AddPatientProvider.yearList'>{{year}}</ion-option>
        </ion-select>
        <ion-select [(ngModel)]="month" name='month' placeholder="Mes" required>
          <ion-option *ngFor='let month of _AddPatientProvider.monthList' [value]='month.value'>{{month.description}}</ion-option>
        </ion-select>
        <ion-select [(ngModel)]="day" name='day' placeholder="Día" required>
          <ion-option *ngFor='let day of _AddPatientProvider.dayList'>{{day}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>* Genero</ion-label>
        <ion-select [(ngModel)]="patient.gender" name='gender' required>
          <ion-option value="M">Mujer</ion-option>
          <ion-option value="H">Hombre</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>* Teléfono</ion-label>
        <ion-input [(ngModel)]="patient.phoneNumber" name='phoneNumber' type="number" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Estado civil</ion-label>
        <ion-select [(ngModel)]="patient.civilStatus" name='civilStatus' required>
          <ion-option value="Soltero">Soltero</ion-option>
          <ion-option value="Casado">Casado</ion-option>
          <ion-option value="Divorciado">Divorciado</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Nota importante</ion-label>
        <ion-textarea [(ngModel)]="patient.notaImportante" name='notaImportante' rows="3" autosize  required></ion-textarea>
      </ion-item>
    <ion-item>
      <button ion-button clear style="width: 100%; margin-top: 0;">
        {{btnAddressTitle}}
      </button>
    </ion-item>
    <ion-item>
      <button ion-button type="submit" block>{{btnTitle}}</button>
    </ion-item>
    </form>

  </ion-list>
</ion-content>