page-add-meeting {
    .item-image{
        margin-top: 15vh;
        display: flex;
        align-content: center;
        flex-direction: column;
    }
    ion-item{
        width: 100% !important;
        height: 100% !important;
    }
    .nota-importante{
        text-align: center; font-size: 0.7em; color: red;
    }
    .label-detalle{
        text-align: center; font-size: 1.5em; font-weight: bold;
    }
}
