page-add-fast-payment {
    .item-image{
        margin-top: 20vh !important;
        display: flex;
        align-content: center;
        flex-direction: column;
        border: none !important;
    }
}
